        <footer class="flex flex-col items-center mt-12 sm:flex-row sm:justify-between">
        <span class="text-gray-700 transition-colors duration-300 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400">
            Created by Daniel
        </span>
        </footer>

    </div>
</section>