  <div class="mx-auto mb-6">
    <%= image_tag 'naruto_logo.png', alt: 'Logo', class: 'w-full mr-2 ' %>
    <%= form_with url: search_characters_path, method: :get, local: true, class: "flex items-center space-x-2" do |form| %>
      <div class="mb-4">
        <%= form.text_field :query, class: "shadow appearance-none border rounded w-96 py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Search characters by name..." %>
      </div>
      <div class="mb-4">
        <%= form.submit "Search", class: "bg-orange-500 hover:bg-orange-700 text-white font-bold py-4 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>