<div class="container flex justify-center items-center">
  <%= render "home/searchForm" %>
</div>

<div class="container flex justify-center items-center">
  <p class="text-lg text-white">Naruto, Sasuke, Madara, Kakashi, and more...</p>
</div>


